body{
	font-family: Arial;
	margin:0;
	padding:20px;
	background-color: #5fecff;
	background-image: url("dark.jpg");
}
*{
	box-sizing: border-box;
}
.row:after{
	content: '';
	display: table;
	clear: both;
}
header{
	background-color: #ff9eea;
	padding:30px;
	


}
header h1{
	text-align: center;
	font-size:60px;
	color:#ff9eea;
	margin:1.5 0px;
}

h2{
	color:#08393f;
margin:1.5 0px;	
	text-align: center;
}
.left-column{
float: left;
width: 75%;	
}

.right-column{
 width: 25%;
 float: right;
 padding-left:20px;
}
.meb1 {
  background-color: #ff9eea;
  color: #ff9eea;
  font-size: 16px;
  padding: 16px 32px;
}

.card{
	padding: 20px;
	background-color: #ff9eea;
 	margin-top:20px;
 	color: #ff9eea;
}

.card img{
	width: 100%;
}
.h3h3{
	color: #08393f
}


.right-column .card img{
	margin-bottom: 10px;
}
.head{
	color: #08393f;

}
.h2{
	color:#08393f;
}
.hdr{
	background-image: url('dark.jpg');
	background-size: cover;
		background-attachment: fixed;
  		background-position: center;
 		background-repeat: no-repeat;
}
.h5{
	color: #08393f;
}
.htwo{
	color: #08393f
}
p{
	color: #08393f;
}
.card:hover .meb{
	opacity: 0.3;
	background-image: url("imgi.jpg");
}

.card:hover .game{
	opacity: 0.5
}

footer{
	background-color: #ff9eea;
	padding: 20px;
	text-align: center;
	margin-top: 20px;
	font-size: 12px;
	float: left;

}

/*responsive */

@media(max-width:800px){
	.left-column,.right-column{
    width: 100%;
    padding: 0px;
	}
}

